.Admintobar-r1{
    display: flex;
    flex-direction: row;
    background-color: rgb(248, 255, 255); 
    padding-top: 22px;
    padding-bottom: 22px;
}

.admintobar-threeline{
    padding-left: 22px;
}

.admintobar-col-last{
    display: flex;
    flex-direction: row;
    padding-left: 384px;
}