.orderlist-firstlbl{
    
}

.Orderlist_outer-cover{
    /* background-color: blueviolet; */
    /* padding-left: 333px; */
 
}

.orderlist-row-1{
    width: 22%;
    background-color: rgb(230, 231, 231);
    padding-top: 53px;
    padding-bottom: 113px;
    /* padding-left: 122px; */
    padding-right: 1111px;
    font-size: 22px;
}

.ordelist-box-cover-one{
    text-align: center;
    /* background-color: blue; */
    width: 100%;
    
}


.orderlist-col-2-lbl-pack{
    display: flex;
    flex-direction: column;
}

.orderlist-lbl-orderplacedon{
    display: flex;
    flex-direction: row;
}

.ordelist-76473{
    padding-left: 90px;
}

.orderlist-326fwe6we6{
    padding-right: 42px;
    /* background-color: blue; */
}

.orderlist-col-2-lbl-pack{
    /* background-color: rgb(240, 240, 247); */
    padding-left: 22px;
    padding-right: 224px;
   
}

.orderlist-row-2-img-lbl-cover{
    display: flex;
    flex-direction: row;
    padding-left: 411px;
}

.orderlist-lbs-sh7667wgs{
    padding-top: 33px;
font-size: 18px;
color: blue;
}

.orderrlist-hdgeudb7gs{
    color: blue;
}

.orderlist-26b-rdehd{
    color: blue;
}